# Dotnet build folders
[Bb]in/
[Oo]bj/

# Local tests folder
tests/

# Test files and projects
**/*.Test/
**/*.Tests/
**/*Test.cs
**/*Tests.cs
**/*Test.*.cs
**/*Tests.*.cs
**/*Test.csproj
**/*Tests.csproj

# IDE configurations
.idea/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
